<div class="well well-sm">
    <form id="annotation-form_filter" action="#" class="form-horizontal">
        <div class="form-group-md">
            <div class="form-group">
                <div class="col-sm-5"/>
                <div class="col-sm-3">
                    <label id="annotation_apply_filter_label" for="annotation_apply_filter" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-filter"/>Filter</label>
                    <input id="annotation_apply_filter" type="submit" aria-labelledby="annotation_apply_filter_label" class="hidden" onsubmit="return false;"/>
                </div>
                <div class="col-sm-3">
                    <label id="annotation_filter_reset_label" for="annotation_filter_reset" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"/>Clear</label>
                    <input id="annotation_filter_reset" type="reset" aria-labelledby="annotation_filter_reset_label" class="hidden filter_reset"/>
                </div>
            </div>

            <div class="form-group">
                <label for="status" id="status-ariaLabel" class="control-label col-sm-4">Status</label>
                <div class="col-sm-8">
                    <select id="status" name="status" aria-labelledby="status-ariaLabel" class="form-control" data-template="templates:form-control">
                        <option value=""/>
                        <option value="pending">Pending</option>
                        <option value="accepted">Accepted</option>
                        <option value="rejected">Rejected</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="creator" id="creator-ariaLabel" class="control-label col-sm-4">Creator</label>
                <div class="col-sm-8">
                    <input id="creator" name="creator" type="search" aria-labelledby="creator-ariaLabel" class="form-control typeahead-meta" data-template="templates:form-control" autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label for="modifier" id="creator-ariaLabel" class="control-label col-sm-4">Modifier</label>
                <div class="col-sm-8">
                    <input id="modifier" name="modifier" type="search" aria-labelledby="modifier-ariaLabel" class="form-control typeahead-meta" data-template="templates:form-control" autocomplete="off"/>
                </div>
            </div>
        </div>
    </form>
</div>