<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container-fluid">
        <div class="row actions">
            <div class="col-lg-12">
                <p/>
            </div>
        </div>
        <div class="row list-browse">
            <div class="col-md-3">
                <div data-template="templates:include" data-template-path="templates/filter-form.html"/>
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                        <div class="col-md-12 list-works well well-sm" data-template="app:list-works">
                                     <div class="col-md-12">
                                            <ul class="pagination" data-template="app:paginate" data-template-per-page="20" data-template-max-pages="5" data-template-min-hits="21" data-template-key="all"/>
                                        </div>
                                    <div class="col-md-12">
                                            <h5 class="pull-right">Browsing <span class="result-count text-success">
                                                    <span id="hit-count" data-template="app:hit-count" data-template-key="all"/>
                                        </span>
                                                    documents.
                                            </h5>
                                        </div>
                                    <div class="col-md-12">
                                            <ul class="documents" data-template="app:browse" data-template-per-page="20">
                                                <li>
                                                    <div data-template="app:work-header"/>
                                                    <div data-template="app:work-defects"/>
                                                </li>
                                                <li>
                                                    <div class="btn-group toolbar">
                                                        <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="pdf" title="Download as PDF">
                                                            <span class="hidden-xs">PDF</span>
                                                        </a>

                                                        <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="epub" title="Download as EPUB ebook">
                                                            <span class="hidden-xs">ePub</span>
                                                        </a>

                                                        <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="mobi" title="Download as Kindle ebook">
                                                            <span class="hidden-xs">MOBI</span>
                                                        </a>

                                                        <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="tei" title="Download TEI XML">
                                                           <span class="hidden-xs">XML</span>
                                                        </a>
                                                    </div>
                                                    <br class="clear"/>
                                                </li>
                                                <li class="empty">There are no documents matching the current filter criteria.</li>
                                            </ul>
                                        </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div data-template="templates:include" data-template-path="templates/search-form.html"/>
            </div>
        </div>
    </div>
</div>