<?xml version="1.0" encoding="UTF-8"?>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="app:fix-links">
    <div class="container-fluid">

        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="site-title" href="https://earlyprint.org/">EarlyPrint</a>
                </li>
                <li id="texts">
                    <a href="$app/works/" class="menu-hilight-toggle">Texts</a>
                </li>
                <li id="review">
                    <a href="$app/review/" class="menu-hilight-toggle">Review</a>
                </li>
                <li class="dropdown" data-template="app:show-if-logged-in">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        <i class="material-icons md-dark">build</i> Admin
                        <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a id="recompile" href="#">Recompile ODD</a>
                        </li>
                        <li>
                            <a id="reindex" href="#">Update Document Metadata Index</a>
                        </li>
                        <li>
                            <a href="#" data-template="pages:xml-link" data-template-source="odd">Edit ODD</a>
                        </li>
                        <li>
                            <a href="#" data-template="pages:xml-link" data-template-source="resources/css/style.less">Edit Styles</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="eplib" class="menu-highlight">
                    <a href="$app/home.html">Library</a>
                </li>
                <li id="eplab" class="nav-item dropdown">
                    <a href="https://earlyprint.org/lab/" class="nav-link dropdown-item dropdown-toggle">
                        Lab
                        <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="dropdown-item dropdown-toggle">
                                <span class="caret-left"/>Search</a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li>
                                    <a class="dropdown-item" target="_blank" href="http://ada.artsci.wustl.edu/catalog">Catalog Search</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" target="_blank" href="http://ada.artsci.wustl.edu:8080/corpus-frontend-1.2/eebotcp/search/">Corpus Search</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item dropdown-toggle">
                                <span class="caret-left"/>Visualizations</a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li>
                                    <a class="dropdown-item" target="_blank" href="https://earlyprint.org/lab/tool_ngram_browser.html">N-gram Browser</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" target="_blank" href="https://earlyprint.org/lab/scatterplot">LDA Scatter Plot</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" target="_blank" href="https://earlyprint.org/lab/tool_eebo_estc_texts.html">Books per Year</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" target="_blank" href="https://earlyprint.org/lab/tool_words_per_year.html">Words Counts</a>
                                </li>
                            </ul>
                        </li>
                </ul>
                </li>
                <li id="readmore" class="dropdown">
                    <a href="#" class="nav-link dropdown-item dropdown-toggle">
                       Read More
                       <span class="caret"/>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li id="howtobrowse">
                            <a target="_blank" href="https://earlyprint.org/how-to">How-To</a>
                        </li>
                        <li id="howtocorrect">
                            <a target="_blank" href="https://earlyprint.org/intros">Intros</a>
                        </li>
                        <li id="howtoreview">
                            <a target="_blank" href="https://earlyprint.org/posts">Posts</a>
                        </li>
                        <li id="history">
                            <a href="$app/history.html">Library Release History</a>
                        </li>
                    </ul>
                </li>
                <li id="about">
                    <a href="https://earlyprint.org/about">About</a>
                </li>
                <li data-template="app:check-login">
                    <a href="#loginDialog" data-toggle="modal">
                        <i class="material-icons">account_circle</i> Login</a>
                    <a href="?logout=true">
                        <i class="material-icons">account_circle</i> Logout <span class="app:current-user"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>