<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container-fluid">
        <div class="row actions">
            <div class="col-lg-12">
                <p/>
            </div>
        </div>
        <div class="row list-browse">
            <div class="col-md-3">
                 <div data-template="templates:include" data-template-path="templates/filter-form.html"/>
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                <!-- Fake the annotation pane toggle into working -->
                <span hidden="true" class="swap btn"/>
                    <div class="col-md-12 list-works well well-sm" data-template="app:list-annotations">
                                <div class="col-md-12">
                                <span style="font-size: 10px">
                                    <span>Legend: </span>
                                    <span style="background-color: #fff7a9">pending</span>
                                    <span style="background-color: #f2ba05">autocorrect</span>
                                    <span style="background-color: #bbd5b5">accepted</span>
                                    <span style="background-color: salmon">rejected</span>
                                </span>
                                         <ul class="pagination" data-template="app:paginate" data-template-per-page="10" data-template-max-pages="5" data-template-min-hits="11" data-template-key="all"/>
                                    </div>
                                <div class="col-md-12">
                                        <h5 class="pull-right">Reviewing <span class="result-count text-success">
                                            <span id="hit-count" data-template="app:annotation-hit-count" data-template-key="all"/>
                                        </span> annotated words in context (click page icon for full page).
                                        </h5>
                                </div>
                                <div class="col-md-12">
                                    <ul class="annotation-list" data-template="app:browse-annotations" data-template-per-page="10">
                                        <li>
                                            <annotatable-document panel="annotation-panel" data-template="app:add-annotation-metadata">
                                                <div slot="document">
                                                    <div data-template="app:annotation-in-context"/>
                                                </div>
                                            </annotatable-document>
                                        </li>
                                        <li class="empty">There are no annotations matching the current filter criteria.</li>
                                    </ul>
                                <aside id="annotations" class="hidden" draggable="true">
                                    <annotation-panel id="annotation-panel" server="/exist/apps/annotation-service/annotation">
                                        <div slot="annotations">
                                            <div data-template="app:annotation-review-hits"/>
                                        </div>
                                    </annotation-panel>
                                </aside>
                                </div>
                    </div>
                </div>
            </div>
            <div id="annotation-filter" class="col-md-3">
                <div data-template="templates:include" data-template-path="templates/annotation-filter.html"/>
            </div>
        </div>
    </div>
</div>