<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container-fluid">
        <div class="row search">
            <div class="col-md-3 col-md-push-9">
              <div data-template="templates:include" data-template-path="templates/search-form.html" />
            </div>
            <div class="col-md-9 col-md-pull-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Results <small data-template="app:get-filter-string"/></h3>
                    </div>
                    <div class="panel-body">
                        <div class="app:query">
                            <div class="templates:if-model-key-equals?key=filterPresent&amp;value=yes">
                                <p class="main-content">Found: <span id="hit-count" data-template="app:hit-count"/>
                                Displayed: <span id="hits-displayed" data-template="app:hits-displayed"/>
                                </p><!-- pagination for small device -->
                                <div class="hidden-md hidden-lg hidden-sm">
                                    <ul class="pagination" data-template="app:paginate" data-template-per-page="20" data-template-max-pages="5" data-template-min-hits="21"/>
                                </div><!-- pagination for larger device -->
                                <div class="hidden-xs">
                                    <ul class="pagination" data-template="app:paginate" data-template-per-page="20" data-template-max-pages="9" data-template-min-hits="21"/>
                                </div><!-- query results -->
                                <table id="results" class="col-md-12 table">
                                    <colgroup>
                                        <col class="previous"/>
                                        <col class="hi"/>
                                        <col class="next"/>
                                    </colgroup>
                                    <tbody data-template="app:show-hits" data-template-per-page="20"/>
                                </table><!-- bottom pagination for small device -->
                                <div class="hidden-md hidden-lg hidden-sm">
                                    <ul class="pagination" data-template="app:paginate" data-template-per-page="20" data-template-max-pages="5" data-template-min-hits="21"/>
                                </div><!-- bottom pagination for larger device -->
                                <div class="hidden-xs">
                                    <ul class="pagination" data-template="app:paginate" data-template-per-page="20" data-template-max-pages="9" data-template-min-hits="21"/>
                                </div>
                            </div>
                            <div class="templates:if-model-key-equals?key=filterPresent&amp;value=no">
                                <form>
                                  <p>You must enter a text filter before searching.
                                    <span style="width: 36px;"/>
                                    <input type="button" value="Return to Browse/Search" onclick="history.back()"/>
                                  </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
