<?xml version="1.0" encoding="UTF-8"?>
<div class="well well-sm">
  <div class="panel-heading">
    <h3 class="panel-title">Text Search</h3>
  </div>
  <form id="search-form_query" action="search.html" class="form form-horizontal form__search">
        <div class="form-group">
            <span class="input-group">
                <input name="query" type="search" autocomplete="off" placeholder="search for" data-template="templates:form-control" class="form-control typeahead-search"/>
                <span class="input-group-btn">
                    <button id="f-btn-search" type="submit" class="btn btn-primary">
                        <span class="material-icons">search</span>
                    </button>
                </span>
            </span>
            <input type="hidden" name="field" value="text"/>
        </div>

        <div id="mode-selection" title="Search Mode" data-toggle="tooltip" data-placement="left" class="form-group">
            <select name="lucene-query-mode" class="form-control" data-template="templates:form-control">
                <option value="any">Any Search Term</option>
                <option value="all">All Search Terms Together</option>
                <option value="phrase">Phrase Search</option>
                <option value="near-ordered">Proximity Search (Ordered)</option>
                <option value="near-unordered">Proximity Search (Unordered)</option>
                <option value="fuzzy">Fuzzy Search</option>
                <option value="regex">Regex Search</option>
                <option value="ngram">NGram Search</option>
            </select>
        </div>
        <div title="Search Which Document Part" data-toggle="tooltip" data-placement="left" class="form-group">
            <select name="tei-target" class="form-control" data-template="templates:form-control">
                <option value="tei-text" selected="selected">Search Sections</option>
                <option value="tei-head">Search Headings</option>
            </select>
        </div>
    </form>
    <hr style="height:4px"/>
    <div class="panel-heading">
      <h3 class="panel-title">Gap Search</h3>
    </div>
    <form id="gap_form_query" action="search.html" class="form form-horizontal form__search">
        <div id="gap-mode-selection" title="Gap type" data-toggle="tooltip" data-placement="left" class="form-group">
            <select name="query" class="form-control" placeholder="search for" data-template="templates:form-control" style="display:inline-block;width:12em">
                <option value="●">● single character</option>
                <option value="◊">◊ missing word</option>
                <option value="…">… missing span</option>
                <option value="▪">▪ undefined punctuation</option>
            </select>
            <span class="input-group-btn" style="display:inline;width:1em">
                <button id="f-btn-gap-search" type="submit" class="btn btn-primary">
                    <span class="material-icons">search</span>
                </button>
            </span>
            <input type="hidden" name="field" value="text"/>
            <input type="hidden" name="lucene-query-mode" value="ngram"/>
            <input type="hidden" name="tei-target" value="tei-text"/>
        </div>
    </form>
</div>