<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div id="main-container" data-template="pages:load" class="container-fluid">
        <div class="row actions-row">
            <div class="col-md-12">
                <div class="btn-toolbar actions">
                    <div class="btn-group narrow" role="group">
                        <a class="btn btn-default toc-toggle toc-link" data-toggle="offcanvas" data-target="#sidebar" data-canvas="#main-container" href="#" tabindex="0">
                            <i class="material-icons">view_list</i>
                        </a>
                        <a data-template-direction="previous" class="nav-prev page-nav btn btn-default" href="#" tabindex="0">
                            <i class="material-icons">navigate_before</i>
                        </a>
                        <a data-template-direction="next" class="nav-next page-nav btn btn-default" href="#" tabindex="0">
                            <i class="material-icons">navigate_next</i>
                        </a>
                        <a class="btn btn-default" href="#" id="zoom-in">
                            <i class="material-icons">zoom_in</i>
                        </a>
                        <a class="btn btn-default" href="#" id="zoom-out">
                            <i class="material-icons">zoom_out</i>
                        </a>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="downloadMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="resources/images/download.png"/>
                            Download <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="downloadMenu">
                            <li>
                                <a class="download-link" data-template="app:download-link" data-template-type="pdf" title="Download as PDF">PDF</a>
                            </li>
                            <li>
                                <a class="download-link" data-template="app:download-link" data-template-type="epub" title="Download as EPUB ebook">EPUB</a>
                            </li>
                            <li>
                                <a class="download-link" data-template="app:download-link" data-template-type="mobi" title="Download as Kindle ebook">MOBI</a>
                            </li>
                            <li>
                                <a class="download-link" data-template="app:download-link" data-template-type="plain" title="Download single page html" target="_blank">HTML</a>
                            </li>
                            <li>
                                <a class="download-link" data-template="app:download-link" data-template-type="tei" title="Download TEI XML source">XML</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="optionsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">settings</i>
                            Options <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="optionsMenu">
                            <li>
                                <a href="#" id="toggle-view-reg">Show standard spellings</a>
                            </li>
                            <li>
                                <a href="#" id="toggle-view-highlights">Disable annotations</a>
                            </li>
                            <li>
                                <a id="switch-view" data-template="pages:switch-view">Switch to division view</a>
                            </li>
                            <li>
                                <a href="#" class="viewimage on">Hide images</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="#" class="swap btn btn-default" title="view/hide annotations" data-toggle="button">
                            <img src="resources/images/comment-text-outline.png"/>
                            <span class="hidden-xs">Annotations</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-template="pages:load-view">
            <aside id="sidebar" class="hidden-xs col-md-3 toc offcanvas">
                <h3>Contents</h3>
                <div data-template="pages:table-of-contents"/>
            </aside>
            <div id="right-panel" class="col-md-12 col-xs-12">
                <div class="container-fluid">
                    <div class="row doc-area" data-template="pages:navigation">
                        <div class="col-sm-6">
                            <div id="content-inner">
                                <div id="content-container" class="well">
                                    <div class="page-header col-title">
                                        <h3 data-template="pages:navigation-title"/>
                                    </div>
                                    <annotatable-document panel="annotation-panel" data-template="pages:add-document-metadata" highlight="highlight">
                                        <div slot="document">
                                            <div data-template="pages:view" class="content"/>
                                        </div>
                                    </annotatable-document>
                                </div>
                            </div>
                        </div>
                       <div id="screenshot_loading" class="modal" style="display: none;">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Generating screenshot...<br/>
                                        Look in Downloads folder when complete.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.location.reload();">Abort</button>
                                    </div>
                                </div>
                            </div>
                       </div>
                       <div class="col-sm-6">
                                <div class="col-md-12 col-lg-12 col-title">
                                    <h6 id="witness-note" data-template="pages:header-witness-note"/>
                                </div>
                            <div id="facsimile" class="col-sm-6"/>
                            <aside id="annotations" class="hidden" draggable="true">
                                <annotation-panel id="annotation-panel" server="/exist/apps/annotation-service/annotation">
                                    <div slot="annotations"/>
                                </annotation-panel>
                            </aside>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input autocomplete="off" type="range" id="page_slider"/>
                        <a href="#" data-toggle="tooltip" data-placement="top" selector="#page_slider" trigger="manual" id="page_slider_tooltip" viewport="{selector: '#page_slider', padding: 0}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>